<div class="container">
  <h1><a href="index.html" th:href="@{/}">Bookmanager</a></h1>
  <nav>

    <ul sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
      <li>
        <button class="btn dropdown-btn" role="dropdown-button" aria-controls="dropdown-user"><span sec:authentication="name">User</span> <span class="icon icon-arrow-down"></span></button>
        <nav id="dropdown-user" class="dropdown-list">
          <ul>
            <li><a href="#" th:href="@{/#}"><span class="icon icon-cog" onclick="alert('Not implemented'); return false;"></span> Account menus</a></li>
            <li><a href="#" onclick="document.getElementById('logout-form').submit();"><span class="icon icon-logout"></span> Log out</a>
              <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;"></form></li>
          </ul>
        </nav>
      </li>
    </ul>

    <ul sec:authorize="!hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
      <li><a href="login.html">Log in</a></li>
      <li><a href="signup.html">Sign up</a></li>
    </ul>

  </nav>
</div>
