<div class="container">
  <h1><a href="index.html" th:href="@{/}">Bookmanager</a></h1>
  <nav>

    <ul sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
      <li>
        <button class="btn" role="dropdown-button" aria-controls="#dropdown-user"><span sec:authentication="name" th:remove="tag">User</span> <span class="icon icon-arrow-down"></span></button>
        <nav id="dropdown-user" class="dropdown-list">
          <ul>
            <li><a href="#" th:href="@{/#}" onclick="alert('Not implemented'); return false;" ><span class="icon icon-cog"></span> Account menus</a></li>
            <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a href="#" th:href="@{/stocks}"><span class="icon icon-books"></span> Manage stocks</a></li>
            <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a href="#" th:href="@{/rentals}"><span class="icon icon-calendar"></span> Manage rentals</a></li>
            <li><a href="#" onclick="document.getElementById('logout-form').submit();"><span class="icon icon-logout"></span> Log out</a>
              <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;"></form></li>
          </ul>
        </nav>
      </li>
    </ul>

    <ul sec:authorize="!hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
      <li><a href="login.html" th:href="@{/login}">Log in</a></li>
      <li><a href="signup.html" th:href="@{/signup}">Sign up</a></li>
    </ul>

  </nav>
</div>
