.btn {
  display: inline-block;
  padding: 6px 8px;
  line-height: 20px;
  color: #444;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);

  &:focus {
    box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.08),
    0 0 4px 0 rgba(0, 100, 255, 0.5);
  }
  &:hover {
    background-color: #e0e0e0;
  }
  &:active {
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  }

  // colored buttons

  &.btn-destroy {
    .btn-colored(rgb(192, 0, 0));
  }

  &.btn-create {
    .btn-colored(rgb(0, 128, 255));
  }

}

.btn-colored (@color) {
  color: #fff;
  background-color: @color;

  &:focus {
    opacity: 0.7;
    box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.08),
    0 0 4px 0 rgba(0, 100, 255, 0.5);
  }
  &:hover {
    opacity: 0.7;
  }
  &:active {
    box-shadow: inset 0 4px 6px 0 rgba(0, 0, 0, 0.40);
  }
}
