// fonts --------------------------

// colors

body, input, a {
  color: #444;
}


// decorations

a {
  text-decoration: none;
}


// font sizing

html {
  font-size: 62.5%;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.6em;
}
h3 {
  font-size: 2.2em;
}
h4 {
  font-size: 1.8em;
}
h5 {
  font-size: 1.4em;
}

p, ul, ol, table, form {
  font-size: 1.4em;
}

form {
  ul, ol {
    font-size: 1em;
  }
}


// content boxes margin

p, ul, ol, table, form {
  padding: 0;
  margin: 0 0 14px 0;
}

li {
  padding: 0;
  margin: 0;
}


// boxes --------------------------

* {
  box-sizing: border-box;
}

.sr-only {
  display: none;
}

hr {
  height: 1px;
  background-color: #ccc;
  border: 0;
}
