<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title th:text="'Account information | ' + #{app.name}">Account information | Bookmanager</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>

    <link rel="stylesheet" href="../static/fonts/style.css" th:href="@{/fonts/style.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
  </head>
  <body>

    <header th:include="commons/header.html">
      <!--#include virtual="commons/header.html" -->
    </header>

    <div class="container">

      <section>
        <h2>Account information</h2>

        <section>
          <h3>Principals</h3>
          <dl>
            <dt>Name</dt><dd th:text="${user.name}">KINOMOTO Sakura</dd>
            <dt>e-mail</dt><dd th:text="${user.name}">ksakura@tomoeda.ac.jp</dd>
            <dt>Registered at</dt><dd th:text="${user.name}">2014-11-01</dd>
          </dl>
        </section>

        <section>
          <h3>Your rentals</h3>
          <table>
            <thead>
              <tr>
                <th>Rental ID</th>
                <th>Status</th>
                <th>Rentaled date</th>
                <th>Returned date</th>
                <th>Ref. No.</th>
                <th>Item name</th>
              </tr>
            </thead>
            <tbody th:remove="all-but-first">
              <tr th:each="rental, itr : ${rentals}">
                <td><span th:text="${rental.id}" th:remove="tag">33</span></td>
                <td><span th:text="${rental.valid}" th:remove="tag">Inactive</span></td>
                <td><span th:text="${rental.rentaled}" th:remove="tag">2014-12-10</td>
                <td><span th:text="${rental.returned}" th:remove="tag">2014-12-20</span></td>
                <td><a href="stock-show.html">1</a></td>
                <td><a href="book-show.html" th:href="TODO"><span th:text="${rental.stock.item.name}" th:remove="tag">JAVA + YOU</span></a></td>
              </tr>
              <tr>
                <td>36</td>
                <td>Active</td>
                <td>2014-12-25</td>
                <td>-</td>
                <td><a href="stock-show.html">1</a></td>
                <td><a href="book-show.html">JAVA + YOU</a></td>
              </tr>
            </tbody>
          </table>
        </section>

      </section>

    </div>

    <footer th:include="commons/footer.html">
      <!--#include virtual="commons/footer.html" -->
    </footer>

    <script src="../static/vendor/jquery/jquery.js" th:src="@{/vendor/jquery/jquery.js}"></script>
    <script src="../static/js/ui.js" th:src="@{/js/ui.js}"></script>
  </body>
</html>
