<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title th:text="'Add a new book | ' + #{app.name}"></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="../static/fonts/style.css" th:href="@{/fonts/style.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
  </head>
  <body>

    <header th:include="commons/header.html">
      <!--#include virtual="commons/header.html" -->
    </header>

    <div class="container">

      <form class="centered-form" action="hoge" th:action="@{/books}" method="post">
        <section>
          <h3>Add a new book</h3>
          <ul>
            <li>
              <label for="title">Title</label><input id="title" type="text" placeholder="Title" name="title" />
            </li>
            <li>
              <label for="author">Author</label><input id="author" type="text" placeholder="Author" name="author" />
            </li>
            <li>

              <label for="publisher">Publisher</label><input id="publisher" type="text" placeholder="Publisher" name="publisher" />
            </li>
            <li>
              <label></label><input class="btn btn-create" type="submit" value="Add" />
            </li>
          </ul>
        </section>
      </form>

    </div>

    <footer th:include="commons/footer.html">
      <!--#include virtual="commons/footer.html" -->
    </footer>

    <script src="../static/vendor/jquery/jquery.js" th:src="@{/vendor/jquery/jquery.js}"></script>
    <script src="../static/js/main.js" th:src="@{/js/ui.js}"></script>
  </body>
</html>
