<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title th:text="'Search results | ' + #{app.name}"></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>

    <link rel="stylesheet" href="../static/fonts/style.css" th:href="@{/fonts/style.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
  </head>
  <body>

    <header th:include="commons/header.html">
      <!--#include virtual="commons/header.html" -->
    </header>

    <div class="container">

      <section class="side">
        <section>
          <h2><span class="icon icon-search"></span> Search</h2>
          <form action="books-list.html" method="get"
                th:action="@{/books}">
            <input id="query" type="text" name="q" th:value="${q}" />
          </form>
        </section>

        <hr />

        <section>
          <h2><span class="icon icon-tags"></span> Related tags</h2>
          <ul>
            <li><a href="books-index.html">Java</a></li>
            <li><a href="books-index.html">Lisp</a></li>
            <li><a href="books-index.html">Node</a></li>
            <li><a href="books-index.html">JavaScript</a></li>
          </ul>
          <p style="text-align: right;">
            <a href="tags-index.html" th:href="@{/tags}">Show all tags</a>
          </p>
        </section>

        <hr />
      </section>

      <section class="contents">
        <p sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
          <a href="book-new.html" th:href="@{/books/new}" class="btn" style="text-align: left"><span class="icon icon-plus"></span> Add a new book</a>
          <button id="delete-btn" class="btn btn-destroy" style="float: right;"><span class="icon icon-remove"></span> Delete selections</button>
        </p>

        <table>
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Author</th>
              <th>Publisher</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody th:remove="all-but-first">
            <tr th:each="book, itr : ${books}">
              <td><input type="checkbox" name="selected" th:value="${book.id}" /></td>
              <td><a href="book-show.html" th:href="@{'/books/' + ${book.id}}"><span th:remove="tag" th:text="${book.title}">The title</span></a></td>
              <td th:text="${book.author}">The author</td>
              <td th:text="${book.publisher}">The publisher</td>
              <td style="text-align: center"><span class="label label-disabled">on loan</span></td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>

    <footer th:include="commons/footer.html">
      <!--#include virtual="commons/footer.html" -->
    </footer>

    <script src="../static/vendor/jquery/jquery.js" th:src="@{/vendor/jquery/jquery.js}"></script>
    <script src="../static/js/main.js" th:src="@{/js/ui.js}"></script>
    <script src="../static/js/main.js" th:src="@{/js/books-list.js}"></script>
  </body>
</html>
