<!-- filter -->

<section>
  <h2><span class="icon icon-filter"></span> Filter</h2>
  <ul>
    <li><input id="f-title"     type="checkbox" /> <label for="f-title"    >Title    </label></li>
    <li><input id="f-author"    type="checkbox" /> <label for="f-author"   >Author   </label></li>
    <li><input id="f-publisher" type="checkbox" /> <label for="f-publisher">Publisher</label></li>
    <li><input id="f-available" type="checkbox" /> <label for="f-available">Available</label></li>
  </ul>
</section>

<hr />


<!-- adding -->

<form action="hoge" th:action="@{/books}" method="post">
  <ul>
    <li>
      <label for="title">Title</label><input id="title" type="text" placeholder="Title" name="title" />
    </li>
    <li>
      <label for="author">Author</label><input id="author" type="text" placeholder="Author" name="author" />
    </li>
    <li>

      <label for="publisher">Publisher</label><input id="publisher" type="text" placeholder="Publisher" name="publisher" />
    </li>
    <li>
      <label></label><input class="btn" type="submit" />
    </li>
  </ul>
</form>
