<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title th:text="'Log in | ' +  #{app.name}"></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="../static/fonts/style.css" th:href="@{/fonts/style.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
  </head>
  <body>

    <header th:include="commons/header.html">
      <!--#include virtual="commons/header.html" -->
    </header>

    <div class="container">
      <form class="login-form" action="index.html" method="post"
            th:action="@{/session}">
        <ul>
          <li>
            <label for="id">Username or Email</label><input id="id" type="text" placeholder="Username or Email" />
          </li>
          <li>
            <label for="password">Password</label><input id="password" type="password" placeholder="password" />
          </li>
          <li>
            <label for="rememberme">Remember me</label><input id="rememberme" type="checkbox" />
          </li>
          <li>
            <label></label><input class="btn" type="submit" value="Log in" />
          </li>
        </ul>
      </form>
    </div>

    <footer th:include="commons/footer.html">
      <!--#include virtual="commons/footer.html" -->
    </footer>

    <script src="../static/vendor/jquery/jquery.js" th:src="@{/vendor/jquery/jquery.js}"></script>
  </body>
</html>
