<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title th:text="Rental | ' + #{app.name}">Rental | Bookmanager</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>

    <link rel="stylesheet" href="../static/fonts/style.css" th:href="@{/fonts/style.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
  </head>
  <body>

    <header th:include="commons/header.html">
      <!--#include virtual="commons/header.html" -->
    </header>

    <div class="container">

      <section>
        <h2>Rental</h2>
        <form class="centered-form" action="account.html" th:action="@{/rentals}" method="post">
        <ul>
          <li>
            <label for="ref-no">Item</label><span class="static">JAVA + YOU</span>
          </li>
          <li>
            <label for="ref-no">Type</label><span class="static">Book</span>
          </li>
          <li>
            <label for="name">Due date</label><input id="due-date" type="text" placeholder="Due date" name="TODO datepicker" />
          </li>
          <li>
            <label></label><input class="btn btn-create" type="submit" value="Rental" />
          </li>
        </ul>
      </section>

    </div>

    <footer th:include="commons/footer.html">
      <!--#include virtual="commons/footer.html" -->
    </footer>

    <script src="../static/vendor/jquery/jquery.js" th:src="@{/vendor/jquery/jquery.js}"></script>
    <script src="../static/js/ui.js" th:src="@{/js/ui.js}"></script>
  </body>
</html>
