<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title th:text="'All rentals | ' + #{app.name}"></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>

    <link rel="stylesheet" href="../static/fonts/style.css" th:href="@{/fonts/style.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
  </head>
  <body>

    <header th:include="commons/header.html">
      <!--#include virtual="commons/header.html" -->
    </header>

    <div class="container">

      <table>
        <thead>
          <tr>
            <th></th>
            <th>Id</th>
            <th>Valid</th>
            <th>Rentaled date</th>
            <th>Returned date</th>
            <th>Stock ID</th>
            <th>Item name</th>
          </tr>
        </thead>
        <tbody th:remove="all-but-first">
          <tr th:each="rental, itr : ${rentals}">
            <td><input type="checkbox" name="selected" th:value="${rental.id}" /></td>
            <td><span th:text="${rental.id}" th:remove="tag">11</span></td>
            <td><span th:text="${rental.valid}" th:remove="tag">11</span></td>
            <td><span th:text="${rental.rentaled}" th:remove="tag">11</span></td>
            <td><span th:text="${rental.returned}" th:remove="tag">11</span></td>
            <td><span th:text="${rental.stock.id}" th:remove="tag">11</span></td>
            <td><span th:text="${rental.stock.item.name}" th:remove="tag">11</span></td>
          </tr>
        </tbody>
      </table>

    </div>

    <footer th:include="commons/footer.html">
      <!--#include virtual="commons/footer.html" -->
    </footer>

    <script src="../static/vendor/jquery/jquery.js" th:src="@{/vendor/jquery/jquery.js}"></script>
    <script src="../static/js/ui.js" th:src="@{/js/ui.js}"></script>
  </body>
</html>
