<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title th:text="'Sign up | ' + #{app.name}">Sign up | Bookmanager</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="../static/fonts/style.css" th:href="@{/fonts/style.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
  </head>
  <body>

    <header th:include="commons/header.html">
      <!--#include virtual="commons/header.html" -->
    </header>

    <div class="container">

      <form class="centered-box" action="index.html" th:action="@{/users}" method="post" onsubmit="alert('Not implemented'); return false;">
        <section>
          <h3>Sign up</h3>
          <ul>
            <li>
              <label for="username">Username</label><input id="username" type="text" placeholder="Username" />
            </li>
            <li>
              <label for="email">Email</label><input id="email" type="text" placeholder="Email" />
            </li>
            <li>
              <label for="password">Password</label><input id="password" type="password" placeholder="password" />
            </li>
            <li>
              <label></label><input class="btn" type="submit" value="Sign up" />
            </li>
          </ul>
        </section>
      </form>

    </div>

    <footer th:include="commons/footer.html">
      <!--#include virtual="commons/footer.html" -->
    </footer>

    <script src="../static/vendor/jquery/jquery.js" th:src="@{/vendor/jquery/jquery.js}"></script>
    <script src="../static/js/main.js" th:src="@{/js/ui.js}"></script>
  </body>
</html>
