<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title th:text="'Search results | ' + #{app.name}">Search results | Bookmanager</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>

    <link rel="stylesheet" href="../static/fonts/style.css" th:href="@{/fonts/style.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
  </head>
  <body>

    <header th:include="commons/header.html">
      <!--#include virtual="commons/header.html" -->
    </header>

    <div class="container">

      <section class="side">
        <section>
          <h2><span class="icon icon-search"></span> Search</h2>
          <form action="stocks-index.html" th:action="@{/stocks}" method="get">
            <input id="query" type="text" name="q" th:value="${q}" />
          </form>
        </section>

        <hr />

        <section>
          <h2><span class="icon icon-tags"></span> Related tags</h2>
          <ul>
            <li><a href="#">Java</a></li>
            <li><a href="#">Lisp</a></li>
            <li><a href="#">Node</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
          <p style="text-align: right;">
            <a href="tags-index.html" th:href="@{/tags}">Show all tags</a>
          </p>
        </section>

        <hr />
      </section>

      <section class="contents">
        <p sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
          <a href="stock-new.html" th:href="@{/stocks/new}" class="btn" style="text-align: left"><span class="icon icon-plus"></span> Add a new item</a>
          <a id="js-delete-btn" class="btn btn-destroy" href="#" th:href="#js-delete-stocks-form" style="float: right;"><span class="icon icon-remove"></span> Delete selections</a>
          <form th:id="js-delete-stocks-form" th:action="@{/stocks}" method="delete" style="display: none"></form>
        </p>

        <table>
          <thead>
            <tr>
              <th></th>
              <th>Ref. No.</th>
              <th>Name</th>
              <th>Type</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody th:remove="all-but-first">
            <tr th:each="stock, itr : ${stocks}">
              <td><input type="checkbox" name="selected" value="10" th:value="${stock.id}" /></td>
              <td><a href="stock-show.html" th:href="@{'/stocks/' + ${stock.id}}"><span th:text="${stock.refNo}" th:remove="tag">11</span></a></td>
              <td><a href="book-show.html" th:href="@{'/' + ${stock.type} + 's/' + ${stock.id}}"><span th:text="${stock.item.name}" th:remove="tag">JAVA + YOU</span></a></td>
              <td><span th:text="${stock.type}" th:remove="tag">Book</span></td>
              <td style="text-align: center;"><span class="label label-info" th:text="${stock.isOnLoan} ? 'On loan' : Available" th:class="'label ' + (${stock.isOnLoan} ? label-disabled : label-info)">Available</span></td>
            </tr>
            <tr>
              <td><input type="checkbox" name="selected" value="10" /></td>
              <td><a href="stock-show.html">12</a></td>
              <td><a href="book-show.html">Java is a philosophy</a></td>
              <td>Book</td>
              <td style="text-align: center;"><span class="label label-disabled">On loan</span></td>
            </tr>
          </tbody>
        </table>
      </section>

    </div>

    <footer th:include="commons/footer.html">
      <!--#include virtual="commons/footer.html" -->
    </footer>

    <script src="../static/vendor/jquery/jquery.js" th:src="@{/vendor/jquery/jquery.js}"></script>
    <script src="../static/js/ui.js" th:src="@{/js/ui.js}"></script>
    <script src="../static/js/stocks-index.js" th:src="@{/js/stocks-index.js}"></script>
  </body>
</html>
