<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title th:text="'All users | ' + #{app.name}">All users | Bookmanager</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>

    <link rel="stylesheet" href="../static/fonts/style.css" th:href="@{/fonts/style.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
  </head>
  <body>

    <header th:include="commons/header.html">
      <!--#include virtual="commons/header.html" -->
    </header>

    <div class="container">

      <section>
        <h2>All users</h2>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>User ID</th>
              <th>User name</th>
              <th>Registered at</th>
              <th>Last login</th>
            </tr>
          </thead>
          <tbody th:remove="all-but-first">
            <tr th:each="rental, itr : ${rentals}">
              <td><input type="checkbox" name="selected" value="10" th:value="${user.id}" /></td>
              <td><span th:text="${user.id}" th:remove="tag">1</span></td>
              <td><a href="user-show.html"><span th:text="${user.name}" th:remove="tag">KINOMOTO Sakura</span></a></td>
              <td><span th:text="${user.registeredAt}" th:remove="tag">2014-11-01</span></td>
              <td><span th:text="${user.lastLoggedInAt}" th:remove="tag">2014-12-25</span></td>
            </tr>
            <tr>
              <td><input type="checkbox" name="selected" value="10" /></td>
              <td>2</td>
              <td><a href="user-show.html"><span>DAIDOJI Tomoyo</span></a></td>
              <td>2014-12-01</td>
              <td>2014-12-30</td>
            </tr>
          </tbody>
        </table>
      </section>

    </div>

    <footer th:include="commons/footer.html">
      <!--#include virtual="commons/footer.html" -->
    </footer>

    <script src="../static/vendor/jquery/jquery.js" th:src="@{/vendor/jquery/jquery.js}"></script>
    <script src="../static/js/ui.js" th:src="@{/js/ui.js}"></script>
  </body>
</html>
